<footer class="footer">
  <small>
    Super Admin: superadmin@example.com, Password: password
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>